@use "flexbox";
@use "boxmodel";
@use "layout";
@use "colors";
@use "typography";
@use "utilities";
@use "border";
@use "grid";

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
