// White & Black & transparent
$white: #ffffff;
$black: #000000;
$transparent: transparent;
$f100: #23272f;
// Gray
$gray25: #fcfcfe;
$gray50: #f9fbfa;
$gray100: #f2f4f7;
$gray200: #e4e7ec;
$gray300: #d1d5de;
$gray400: #98a2b3;
$gray500: #667085;
$gray600: #475467;
$gray700: #344054;
$gray800: #1d2939;
$gray900: #111828;

// Red
$red25: #fdfaf9;
$red50: #fff2f1;
$red100: #fde5e3;
$red200: #fecdc9;
$red300: #fca19c;
$red400: #f97066;
$red500: #f04438;
$red600: #d92d22;
$red700: #b32318;
$red800: #912018;
$red900: #7a271a;

// Green
$green25: #f4fff9;
$green50: #ecfdf3;
$green100: #d2fadf;
$green200: #a6f3c5;
$green300: #6ce9a7;
$green400: #32d584;
$green500: #13b769;
$green600: #039856;
$green700: #027949;
$green800: #06603a;
$green900: #064f32;

// Yellow
$yellow25: #fffcf5;
$yellow50: #fffaec;
$yellow100: #ffefc6;
$yellow200: #ffdf8a;
$yellow300: #fec94a;
$yellow400: #fdb023;
$yellow500: #f78f08;
$yellow600: #db6802;
$yellow700: #b54708;
$yellow800: #93370f;
$yellow900: #782f0e;

// Blue Gray
$blueGray25: #fcfbff;
$blueGray50: #f7f9fc;
$blueGray100: #eaecf6;
$blueGray200: #c8cce4;
$blueGray300: #9ea5d1;
$blueGray400: #717abb;
$blueGray500: #4e5ca8;
$blueGray600: #3e4684;
$blueGray700: #353f72;
$blueGray800: #2a2f55;
$blueGray900: #101323;

// Blue Light
$blueLight25: #f6fbff;
$blueLight50: #f1f8ff;
$blueLight100: #e0f2fd;
$blueLight200: #b9e5fe;
$blueLight300: #7dd4fd;
$blueLight400: #38befb;
$blueLight500: #0ba4ee;
$blueLight600: #0186c9;
$blueLight700: #0269a2;
$blueLight800: #065887;
$blueLight900: #094a70;

// Blue
$blue25: #f5faff;
$blue50: #eff8ff;
$blue100: #d1e8ff;
$blue200: #b3ddff;
$blue300: #84cafe;
$blue400: #53b1fe;
$blue500: #2e90fb;
$blue600: #156ff0;
$blue700: #165cd4;
$blue800: #1849a9;
$blue900: #1a4186;

// Indigo
$indigo25: #f5f8fe;
$indigo50: #edf3ff;
$indigo100: #dfeaff;
$indigo200: #c5d7fd;
$indigo300: #a4bbfe;
$indigo400: #7f98fa;
$indigo500: #6173f2;
$indigo600: #434ce7;
$indigo700: #3438cd;
$indigo800: #2e30a6;
$indigo900: #2d3284;

// Purple
$purple25: #faf9ff;
$purple50: #f5f3ff;
$purple100: #eae8fd;
$purple200: #d9d6ff;
$purple300: #beb4fe;
$purple400: #9b8afb;
$purple500: #7a5af9;
$purple600: #6937ee;
$purple700: #5825dc;
$purple800: #4a1fb7;
$purple900: #3f1c98;

// Pink
$pink25: #fef6fb;
$pink50: #fdf1fb;
$pink100: #fce7f6;
$pink200: #fbceed;
$pink300: #f9a7df;
$pink400: #f670c6;
$pink500: #ee46bd;
$pink600: #dc258f;
$pink700: #c01575;
$pink800: #9e165e;
$pink900: #831651;

// Rose
$rose25: #fff5f6;
$rose50: #fff0f3;
$rose100: #ffe5e8;
$rose200: #feccd7;
$rose300: #fea3b4;
$rose400: #fd6f8c;
$rose500: #f63d67;
$rose600: #e21b52;
$rose700: #bf1049;
$rose800: #a01043;
$rose900: #88123e;

// Orange
$orange25: #fffaf6;
$orange50: #fff6ed;
$orange100: #ffead5;
$orange200: #fddbab;
$orange300: #ffb173;
$orange400: #fd8539;
$orange500: #fc6514;
$orange600: #eb4a0a;
$orange700: #c33209;
$orange800: #9c2a10;
$orange900: #7f2411;

// IndianRed
$indianRed25: #faf0f0;
$indianRed50: #f5e1e1;
$indianRed100: #f1d2d2;
$indianRed200: #ecc3c3;
$indianRed300: #e8b4b4;
$indianRed400: #e3a6a6;
$indianRed500: #df9797;
$indianRed600: #da8888;
$indianRed700: #d67979;
$indianRed800: #d16a6a;
$indianRed900: #cd5c5c;
