// Template Rows
$grid-template-rows: (
  "grid-rows-1": repeat(1, minmax(0, 1fr)),
  "grid-rows-2": repeat(2, minmax(0, 2fr)),
  "grid-rows-3": repeat(3, minmax(0, 3fr)),
  "grid-rows-4": repeat(4, minmax(0, 4fr)),
  "grid-rows-5": repeat(5, minmax(0, 5fr)),
  "grid-rows-6": repeat(6, minmax(0, 6fr)),
  "grid-rows-7": repeat(7, minmax(0, 7fr)),
  "grid-rows-8": repeat(8, minmax(0, 8fr)),
  "grid-rows-9": repeat(9, minmax(0, 9fr)),
  "grid-rows-10": repeat(10, minmax(0, 10fr)),
  "grid-rows-11": repeat(11, minmax(0, 11fr)),
  "grid-rows-12": repeat(12, minmax(0, 12fr)),
  "grid-rows-none": none,
);

// Template Columns
$grid-template-columns: (
  "grid-cols-1": repeat(1, minmax(0, 1fr)),
  "grid-cols-2": repeat(2, minmax(0, 2fr)),
  "grid-cols-3": repeat(3, minmax(0, 3fr)),
  "grid-cols-4": repeat(4, minmax(0, 4fr)),
  "grid-cols-5": repeat(5, minmax(0, 5fr)),
  "grid-cols-6": repeat(6, minmax(0, 6fr)),
  "grid-cols-7": repeat(7, minmax(0, 7fr)),
  "grid-cols-8": repeat(8, minmax(0, 8fr)),
  "grid-cols-9": repeat(9, minmax(0, 9fr)),
  "grid-cols-10": repeat(10, minmax(0, 10fr)),
  "grid-cols-11": repeat(11, minmax(0, 11fr)),
  "grid-cols-12": repeat(12, minmax(0, 12fr)),
  "grid-cols-none": none,
);


// Auto Rows
$grid-auto-rows: (
  "auto-rows-auto": auto,
  "auto-rows-min": min-content,
  "auto-rows-max": max-content,
);

// Auto Columns
$grid-auto-columns: (
  "auto-cols-auto": auto,
  "auto-cols-min": min-content,
  "auto-cols-max": max-content,
);

// Auto Flow
$grid-auto-flow: (
  "grid-flow-row": row,
  "grid-flow-col": column,
  "grid-flow-dense": dense,
  "grid-flow-row-dense": row dense,
  "grid-flow-col-dense": column dense,
);

// Grid Row
$grid-row: (
  "row-auto": auto,
  "row-span-1": span 1 / span 1,
  "row-span-2": span 2 / span 2,
  "row-span-3": span 3 / span 3,
  "row-span-4": span 4 / span 4,
  "row-span-5": span 5 / span 5,
  "row-span-6": span 6 / span 6,
  "row-span-7": span 7 / span 7,
  "row-span-8": span 8 / span 8,
  "row-span-9": span 9 / span 9,
  "row-span-10": span 10 / span 10,
  "row-span-11": span 11 / span 11,
  "row-span-12": span 12 / span 12,
  "row-span-full": 1 / -1,
);

// Row Start
$grid-row-start: (
  "row-start-1": 1,
  "row-start-2": 2,
  "row-start-3": 3,
  "row-start-4": 4,
  "row-start-5": 5,
  "row-start-6": 6,
  "row-start-7": 7,
  "row-start-8": 8,
  "row-start-9": 9,
  "row-start-10": 10,
  "row-start-11": 11,
  "row-start-12": 12,
  "row-start-auto": auto,
);

// Row End
$grid-row-end: (
  "row-end-1": 1,
  "row-end-2": 2,
  "row-end-3": 3,
  "row-end-4": 4,
  "row-end-5": 5,
  "row-end-6": 6,
  "row-end-7": 7,
  "row-end-8": 8,
  "row-end-9": 9,
  "row-end-10": 10,
  "row-end-11": 11,
  "row-end-12": 12,
  "row-end-auto": auto,
);

// Grid Column
$grid-column: (
  "col-auto": auto,
  "col-span-1": span 1 / span 1,
  "col-span-2": span 2 / span 2,
  "col-span-3": span 3 / span 3,
  "col-span-4": span 4 / span 4,
  "col-span-5": span 5 / span 5,
  "col-span-6": span 6 / span 6,
  "col-span-7": span 7 / span 7,
  "col-span-8": span 8 / span 8,
  "col-span-9": span 9 / span 9,
  "col-span-10": span 10 / span 10,
  "col-span-11": span 11 / span 11,
  "col-span-12": span 12 / span 12,
  "col-span-full": 1 / -1,
);

// Column Start
$grid-column-start: (
  "col-start-1": 1,
  "col-start-2": 2,
  "col-start-3": 3,
  "col-start-4": 4,
  "col-start-5": 5,
  "col-start-6": 6,
  "col-start-7": 7,
  "col-start-8": 8,
  "col-start-9": 9,
  "col-start-10": 10,
  "col-start-11": 11,
  "col-start-12": 12,
  "col-start-auto": auto,
);

// Column End
$grid-column-end: (
  "col-end-1": 1,
  "col-end-2": 2,
  "col-end-3": 3,
  "col-end-4": 4,
  "col-end-5": 5,
  "col-end-6": 6,
  "col-end-7": 7,
  "col-end-8": 8,
  "col-end-9": 9,
  "col-end-10": 10,
  "col-end-11": 11,
  "col-end-12": 12,
  "col-end-auto": auto,
);

// Grid
$grid: (
  "grid-template-rows": $grid-template-rows,
  "grid-template-columns": $grid-template-columns,
  "grid-auto-rows": $grid-auto-rows,
  "grid-auto-columns": $grid-auto-columns,
  "grid-auto-flow": $grid-auto-flow,
 // "grid-row": $grid-row,
  "grid-row-start": $grid-row-start,
  "grid-row-end": $grid-row-end,
 // "grid-column": $grid-column,
  "grid-column-start": $grid-column-start,
  "grid-column-end": $grid-column-end,
);


// Gap
$gap: (gap, "gap-", 100, 10);

// Row Gap
$row-gap: (row-gap, "gap-y-", 100, 10);

// Column Gap
$column-gap: (column-gap, "gap-x-", 100, 10);